@import url('https://fonts.googleapis.com/css?family=Niramit|Poiret+One');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    letter-spacing: -1px;

}

                /* main CSS - background, navbar, footer*/


#index-front {
    background: url("images/another.jpeg") no-repeat;
    background-size: inherit;
    background-position: 20px 40px 20px 20px;
    
    padding-top: 70px;
    
    
    width: 100%;
    height: 100%;
    
}


#gallery-front, #media-front {
    background: #e1d8e7;
    background: linear-gradient(to bottom, #c9d4ec 0, #e9d1c9 100%);
    background-size: cover;
    background-position: top;
    padding-top: 70px;
    
}

.jumbotron {
    background-color: transparent;
    opacity: 0.9;
    font-weight: 3em;
    margin-left: 10%;
    margin-right: 10%;

}

h1 {
    padding-bottom: 10px;
    animation-name: RightToLeft;
    animation-duration: 2s;
    animation-delay: 0.5s;

}
                    /* NAVBAR      */

 .navbar-brand, .navbar-inverse a{
                color: #e7dfdd;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1.5em;
                             
               
  }
.navbar-inverse .navbar-nav>li>a {
                color: rgb(228, 120, 69);
                font-size: 1.5em;
                font-weight: 600;
                
                
              }            
.navbar-inverse {
    background: black;
    opacity: 0.7;

}


/* nav transition */

.navbar-inverse .navbar-brand, .navbar-inverse a{
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;

} 

.navbar-inverse .navbar-nav>li>a {
   transition: all .4s ease-in;
   -webkit-transition: all .4s ease-in;
   -moz-transition: all .4s ease-in;
   -o-transition: all .4s ease-in;
   
}

            /* END OF NAVBAR */


                /* FOOTER     */

.footer {
    background: black;
    opacity: 0.7;

    margin-left: 2px;
    margin-top: 60px;
    width: 100%;

    
  }

.fab {
    padding: 6px;
    
    

}
.footer a {
    color: #e7dfdd;
    font-size: 28px;
    padding: 3px;
    text-align: center;

    transition: all .4s ease;
    -webkit-transition: all .4s ease;
   -moz-transition: all .4s ease;
   -o-transition: all .4s ease;
    
  } 

.footer a:hover {
    color: rgb(228, 120, 69);
}

.copyright {
    color: white;
    margin: 0px;
   
    
}
        /* END OF FOOTER */


                     /*   FRONT PAGE            */


                    /* HEADERS */
.front-header {
    color: black;
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;

    animation-name: LeftToRight;
    animation-duration: 2s;
    animation-delay: 1s;

    
} 

                  /* ANIMATIONS */

/* front header animation */

@keyframes LeftToRight{
    0% {
        opacity:0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



    /* front-header2 animation */
.front-header2 {
    color: black;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    
     animation-name: RightToLeft;
    animation-duration: 2s;
    animation-delay: 1s;
    
    
}

@keyframes RightToLeft {
0% { 
    opacity: 0;
    transform: translateX(-30px);

}

100% {
    opacity: 1;
    transform: translateX(0);
}

}

 /* end of front-header2 animation */

.front-header2 a {
    color: black;
    font-size: 26px;
    padding: 8px;
    padding-top: 20px;
    display: inline-table;
    
}

#image-container {
    align-content: center;
    text-align: center;
    
    
    opacity: 0.9;
    
    padding-bottom: 30px;
    
    
}
.album-image {
    margin-top: 30px;
    opacity: 0.9;
    transform: scale(1);
    border: 1px solid black;
    transition: transform 1s ease-in-out;
    
}

.album-image:hover { 
    transform: scale(0.9);
    
}

                    /* GALLERY PAGE */

.carousel {
    margin-bottom: 50px;
    margin-top: 0px;
} 

                    /* MEDIA PAGE */


 .audio {
    
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 40px;
            
            
        }
        
    blockquote {
            background-color:transparent;
            color: black;
            padding: 10px;
            font-size: 25px;
            letter-spacing: 4px;
        }
        
     .embed-responsive-item {
            padding-bottom: 20px;
        }





                        /* ABOUT ME PAGE */


.first {
    background-color: #FAFAFA;
    color: black;
    text-align: center;
    font-family: 'Niramit', cursive !important;
    padding: 60px;
    font-size: 23px;
    
}



hr {
    margin-left: 25%;
    margin-right: 25%;
    
    
    
}






            /* mobile version */

 @media only screen and (max-width: 600px) { 


    .first {
        font-size: 20px;
    }

    .blockquote {
        font-size: 22px;
    }

    

    #index-front {
            background-image: url("images/anothermobile.jpg");
            background-position: center;
             background-size: cover;
                    
                }
            
    .front-content {
            padding-top: 500px;
            padding-bottom: 0px;
                    
                    
                }
     #image-container {
        background: #F6F6FF;
        padding: 5px;
                }
    img {
         border: 1px solid black;
                }
            
            }  
            
    .footer { margin-top: 0px;

    }